#SQE Related Data
tables/*.sql
geom_tabls/*.sql

#application or OS
.vscode
.DS_Store

#Damascus related data
env/
*.psb
*.psd

#4Q266 Images
Digital_Editions/4Q266/iaa_images
Digital_Editions/4Q266/pam_images

img_main/img/P*