appnope==0.1.0
astroid==2.0.4
atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==2.1.4
Bottleneck==1.2.1
brewer2mpl==1.4.1
builtwith==1.3.3
certifi==2018.8.13
chardet==3.0.4
click==6.7
collatex==2.2
colorama==0.3.9
ConfigArgParse==0.14.0
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
entrypoints==0.2.3
ExifRead==2.1.2
fastai==1.0.42
fastprogress==0.1.18
Flask==1.0.2
ggplot==0.11.5
graphviz==0.9
gspread==3.0.1
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
iiif==1.0.6
imagej==0.3.1
imutils==0.5.2
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-latex==0.4.1
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.2.5
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
mysql-connector-python-rf==2.2.2
nameparser==1.0.2
nbconvert==5.4.0
nbformat==4.4.0
neo4j-driver==1.6.1
neotime==1.0.0
networkx==2.2
nltk==3.3
notebook==5.7.0
numexpr==2.6.9
numpy==1.15.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.2
opencv-python==3.4.2.17
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
plac==0.9.6
pluggy==0.7.1
preshed==2.0.1
prettytable==0.7.2
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.5.4
py2neo==4.0.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pytest==3.7.1
python-bidi==0.4.0
python-dateutil==2.7.3
python-Levenshtein==0.12.0
python-magic==0.4.15
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
regex==2018.1.10
requests==2.19.1
rope==0.11.0
rsa==3.4.2
scikit-learn==0.19.2
scipy==1.1.0
selenium==3.14.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.18
statsmodels==0.9.0
terminado==0.8.1
testpath==0.3.1
thinc==6.12.1
toolz==0.9.0
torch==1.0.1
torchvision==0.2.1
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.2
typed-ast==1.1.0
typing==3.6.6
ujson==1.35
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.2.0
XlsxWriter==1.1.4